.pokemon-details {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px;

  .card-img, .card-img-top  {
    padding: 1rem;
  }

  .card {
    min-width: 16rem;

    .card-title {
      font-weight: 800;
      color: var(--purple-300);

      // strong {
      //   color: var(--purple-300);
      // }
    }

    .card-text {
      font-weight: 700;
      color: var(--gray-800);
    }
  }

  @media (max-width: 650px) {
    margin: 10px;
  }
}

.modal-info td, th, tr, thead, tbody {
  padding: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0.2rem solid #333;
  text-align: center;
}

.modal-body {
  h3 {
    font-weight: 800;
    color: var(--purple-300);
    margin-top: 15px;
  }
}


.header {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  button {
    margin: 1rem;

    a {
      color: #fff;
      text-decoration: none
    };
  }
}